# Merging Extra Practice

For these questions, you'll be using data from the Austin Animal Center, containing information on animal intakes and animal outcomes. The original sources of this data are [here](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [here](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/about_data).

Read the provided csv files into DataFrames named "intakes" and "outcomes".

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
intakes = pd.DataFrame(pd.read_csv('../data/Austin_Animal_Center_Intakes.csv'))
outcomes = pd.DataFrame(pd.read_csv('../data/Austin_Animal_Center_Outcomes.csv'))

#### 0. Is the relationship between the intakes and outcomes tables one-to-one, many-to-one, one-to-many, or many-to-many?

In [3]:
intakes.sort_values('Animal ID').head(3)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
3993,A006100,Scamp,12/19/2014 10:21:00 AM,12/19/2014 10:21:00 AM,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
18662,A006100,Scamp,12/07/2017 02:07:00 PM,12/07/2017 02:07:00 PM,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
84304,A006100,Scamp,03/07/2014 02:26:00 PM,03/07/2014 02:26:00 PM,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

In [4]:
outcomes.sort_values('Animal ID').head(3)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
94523,A006100,Scamp,12/07/2017 12:00:00 AM,12/07/2017 12:00:00 AM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
52735,A006100,Scamp,12/20/2014 04:35:00 PM,12/20/2014 04:35:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
107324,A006100,Scamp,03/08/2014 05:10:00 PM,03/08/2014 05:10:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

- **The dataframes are similarly shaped, however in looking at the initial values in each, it appears that there are some rows containing the same animal id multiple times in each dataframe, meaning this is a many-to-many relationship. The validate parameter is used to confirm as such in the following merge.**

#### 1. The key identifier variable for this data is the Animal ID. Perform a merge to determine if there are any animal ids from the intakes data that do not appear in the outcomes data and vice versa. Think carefully about which column or columns you'd like to merge on.

In [5]:
intakes_outcomes = pd.merge(left=intakes, right=outcomes, on=['Animal ID'], how='outer', validate='many_to_many', indicator=True)
display(intakes_outcomes[intakes_outcomes['_merge'] != 'both'][['Animal ID','_merge']].head(3))
display(intakes_outcomes[intakes_outcomes['_merge'] != 'both'][['Animal ID','_merge']].tail(3))

    Animal ID      _merge
59    A275975  right_only
157   A335950  right_only
232   A362137  right_only

       Animal ID     _merge
161671   A830180  left_only
161672   A830181  left_only
161673   A830183  left_only

- **There are animal IDs which show up in both dataframes which are not also in the other dataframe.**

#### 2. Sometimes, the column you want to merge on is the index of the DataFrame. For this problem, let's try merging on the index. Set the index of the intakes and outcomes dataframes to "Animal ID" (using the [set_index method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html) and then merge the two. Afterwards, you may want to set the index back to how it originally was (using the [reset_index method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html)).

In [6]:
intakes = intakes.set_index('Animal ID')
outcomes = outcomes.set_index('Animal ID')
animal_id_index = pd.merge(left=intakes, right=outcomes, on='Animal ID', how='outer', indicator=True)
animal_id_index

,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,Breed_x,...,MonthYear_y,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_y,Sex upon Outcome,Age upon Outcome,Breed_y,Color_y,_merge
Animal ID,,,,,,,,,,,,,,,,,,,,,
A006100,Scamp,12/19/2014 10:21:00 AM,12/19/2014 10:21:00 AM,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,...,12/20/2014 04:35:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,both
A006100,Scamp,12/19/2014 10:21:00 AM,12/19/2014 10:21:00 AM,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,...,12/07/2017 12:00:00 AM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,both
A006100,Scamp,12/19/2014 10:21:00 AM,12/19/2014 10:21:00 AM,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,...,03/08/2014 05:10:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,both
A006100,Scamp,12/07/2017 02:07:00 PM,12/07/2017 02:07:00 PM,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,...,12/20/2014 04:35:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,both
A006100,Scamp,12/07/2017 02:07:00 PM,12/07/2017 02:07:00 PM,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,...,12/07/2017 12:00:00 AM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A830173,NaN,03/03/2021 03:59:00 PM,03/03/2021 03:59:00 PM,14912 Fagerquist Rd in Travis (TX),Stray,Normal,Dog,Intact Male,1 year,Cairn Terrier,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
A830174,NaN,03/03/2021 03:59:00 PM,03/03/2021 03:59:00 PM,14912 Fagerquist Rd in Travis (TX),Stray,Normal,Dog,Intact Female,1 month,Black Mouth Cur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
A830180,Gigi,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,9 years,Australian Cattle Dog/Belgian Malinois,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
A830181,Nona,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,4 years,Domestic Shorthair Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
A830183,NaN,03/03/2021 05:12:00 PM,03/03/2021 05:12:00 PM,6802 Bryonwood Drive in Austin (TX),Stray,Medical,Dog,Intact Female,1 month,Chihuahua Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

#### 3. Merge the intakes and outcomes dataframe on just the Animal ID column. Notice that any other columns that are in common get a _x and _y suffix. Use the suffixes parameter to change this to _intake and _outcome. Are there are animal ids which have different Name values in the intake and outcomes DataFrames?

In [7]:
intakes = intakes.reset_index()
outcomes = outcomes.reset_index()
name_changes = pd.merge(left=intakes, right=outcomes, on='Animal ID', how='inner', validate='many_to_many', suffixes=['_intake', '_outcome'])
display(name_changes[name_changes['Name_intake'] != name_changes['Name_outcome']][['Name_intake', 'Name_outcome']].dropna())

Empty DataFrame
Columns: [Name_intake, Name_outcome]
Index: []

- **No results in the dataframe after filtering out values that don't match in the Name_intake and Name_outcome columns after dropping NaNs**

#### 4. Merging just on Animal ID doesn't necessarily match a given intake to its corresponding outcome. However, we can change the way that we merge to try to match these up correctly.

    a. We'll need to make use of the DateTime columns in order to make this merge work. Convert these columns to the datetime type.

In [8]:
intakes = intakes.reset_index()
outcomes = outcomes.reset_index()

intakes['DateTime']=intakes['DateTime'].astype('datetime64[ns]')
outcomes['DateTime']=outcomes['DateTime'].astype('datetime64[ns]')

    b. Now, use the [merge_asof function](https://pandas.pydata.org/docs/reference/api/pandas.merge_asof.html) in order to match intake rows to their corresponding outcome rows. That is, each intake row should be matched with the outcome that is nearest to it in the future (still matched by Animal ID).

    c. Are there any instance of an intake that doesn't have an outcome before the next intake? Keep only the last intake row for those cases.

    d. Create a new column showing the time between intake and outcome. What does the distribution of these values look like? Does it vary by animal type?

    e. Find all rows where the animal is intact at intake and spayed or neutered at outcome. What percentage of intact intakes result in a spay or neuter?